Explanation: Debian <%= codename=scope.lookupvar('apt::codename') %>
Package: *
Pin: release o=Debian,n=<%= codename %>
Pin-Priority: 990

Explanation: Debian <%= codename %>-updates
Package: *
Pin: release o=Debian,n=<%= codename %>-updates
Pin-Priority: 990

Explanation: Debian <%= codename %>-lts
Package: *
Pin: release o=Debian,n=<%= codename %>-lts
Pin-Priority: 990

Explanation: Debian <%= next_codename=scope.lookupvar('apt::next_codename') %>
Package: *
Pin: release o=Debian,n=<%= next_codename %>
Pin-Priority: 2

Explanation: Debian sid
Package: *
Pin: release o=Debian,n=sid
Pin-Priority: 1

Explanation: Debian fallback
Package: *
Pin: release o=Debian
Pin-Priority: -10

